.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 60rem;
  margin: 0 auto;
  color: $white;

  .heading {
    font-size: 2.5rem;
    // color: rgb(255, 94, 0);
    // text-shadow: 0 0 2px red;
  }

  .text {
    margin: 2rem 0;

    p {
      margin: 2rem 0;
      font-size: 1.8rem;
      font-family: "Tilt Neon", sans-serif;
      word-spacing: 0.4rem;
    }
  }

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60rem;

    a {
      font-size: 5rem;
      display: flex;
      color: white;
      transition: all 0.3s ease-in-out;
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
      }
    }

    a.facebook {
      color: #0099ff;
      border-radius: 50%;
    }

    a.google {
      color: #ff6f00;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;

    .heading {
      font-size: 2rem;
    }

    .text {
      p {
        font-size: 1.5rem;
      }
    }

    .contact {
      width: 90%;
      a {
        font-size: 3rem;
      }
    }
  }
}
