footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $navfooterHeight;
  background-color: $navfooterColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  z-index: 9999;
  border-top: 1px solid rgba(255, 255, 255, 0.318);

  a {
    display: flex;
    align-items: center;
  }

  .icon {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  .icon.info {
    color: rgb(0, 141, 248);
  }

  .icon.create {
    color: rgb(0, 255, 89);
  }

  .icon.logout {
    color: rgb(255, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  footer {
    height: calc(#{$navfooterHeight} - 1rem);

    .icon {
      font-size: 2.5rem;
    }
  }
}
