@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import "var";

html,
body {
  font-family: sans-serif;
  background-color: #0b0b0b;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

main {
  position: absolute;
  width: 100%;
  top: $navfooterHeight;
  bottom: $navfooterHeight;
  overflow-y: scroll;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.not-logged-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
  margin: 5rem 0;

  .heading {
    font-size: 2rem;
    color: rgb(255, 94, 0);
    text-shadow: 0 0 2px red;
  }

  .link {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: $mainColor;
    color: rgb(28, 28, 28);
    transition: all 0.3s ease-in-out;
    font-weight: bold;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@import "form";
@import "create";
@import "home";
@import "navbar";
@import "footer";
@import "showcase";
@import "logout";
@import "about";

@import "utility/input.scss";
@import "utility/button.scss";

@media screen and (max-width: 768px) {
  main {
    top: calc(#{$navfooterHeight} - 1rem);
    bottom: calc(#{$navfooterHeight} - 1rem);
  }
}
