.intro {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // gap: 10rem;
  // border: 1px solid green;
  height: 100%;
  // position: relative;

  .quote {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #f8e800, #ff4800);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
  }

  .btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 20%;
  }
}

.no-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;

  .heading {
    font-size: 3rem;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 157, 0);
  }

  .text {
    color: $white;
    font-size: 1.8rem;
    font-family: "Josefin Sans", sans-serif;
  }
}

.media-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 3rem 0;

  .media {
    padding: 1rem;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.829);
    color: $white;

    .title-icons {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;

      .icon {
        font-size: 2rem;
      }

      .icon.pic {
        color: #0ec901fe;
      }

      .icon.vid {
        color: #c20047;
      }

      .icon.aud {
        color: #009dc4;
      }

      .title {
        font-family: "Tilt Neon", sans-serif;
      }
    }

    .options {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;

      .option {
        font-size: 1.3rem;
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 5rem 2rem;
    gap: 5rem;

    .quote {
      font-size: 2rem;
    }

    .btn {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }
  }

  .media-section {
    padding: 1rem 0;

    .media {
      padding: 0.5rem;
      width: 90%;
      font-size: 1rem;

      .title-icons {
        gap: 1rem;

        .icon {
          font-size: 1.5rem;
        }
      }

      .options {
        gap: 1rem;

        .option {
          font-size: 1rem;
        }
      }
    }
  }
}
