nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.318);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: $navfooterColor;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 5rem;

  .logo {
    display: inline-block;
    background: linear-gradient(90deg, #008df8, #131fff, #aa2bff, #ff2b79);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
    text-align: center;
  }
}
